{% extends 'common.html' %}

{% load static %}

{% block main %}
    <!-- About section starts here -->
    <div class="container-fluid about-section">
        <h2>About me</h2>
        <p>
            I'm Joseph, a passionate software developer with a Bachelor's degree in Information Technology. 
            My expertise lies in web and mobile development, 
            where I craft digital solutions that combine creativity with technology. 
            I'm dedicated to delivering user-friendly, 
            efficient, and visually appealing applications that make a real impact.
        </p>
    </div>
{% endblock %}