{% extends 'common.html' %}

{% load static %}

{% block main %}
    <!-- Services Section -->
    <div class="container mt-5">
        <h2>Services</h2>
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="card bg-success">
                    <!-- <img src="service-image-1.jpg" class="card-img-top" alt="Service 1"> -->
                    <div class="card-body ">
                        <h5 class="card-title">Web Development (Django)</h5>
                        <p class="card-text">I offer comprehensive web development services, 
                            encompassing a wide spectrum of skills and technologies. With a strong background 
                            in front-end and back-end development, I specialize in creating responsive and user-friendly 
                            websites and web applications. My services include database management, user interface design,
                             and ensuring websites adhere to web standards and current industry trends. 
                             I take pride in delivering exceptional 
                            online experiences and custom web solutions that meet the unique needs of my clients.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="card bg-warning">
                    <!-- <img src="service-image-2.jpg" class="card-img-top" alt="Service 2"> -->
                    <div class="card-body">
                        <h5 class="card-title">Mobile development</h5>
                        <p class="card-text ">As a mobile app developer, I specialize in creating cross-platform mobile applications using 
                            Flutter. With a deep understanding of this versatile framework, I develop high-quality, 
                            native-like applications for both iOS and Android. My expertise includes UI/UX design, 
                            app development, and maintenance, ensuring that your app is visually appealing, performs seamlessly, 
                            and delivers a great user experience. I'm dedicated 
                            to turning your app ideas into reality and providing solutions that stand out in today's 
                            competitive mobile landscape</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="card bg-primary">
                    <!-- <img src="service-image-3.jpg" class="card-img-top" alt="Service 3"> -->
                    <div class="card-body">
                        <h5 class="card-title">Problem-solving</h5>
                        <p class="card-text">I offer professional C programming problem-solving services. 
                            With a deep understanding of the C language, I can help you tackle complex programming challenges, 
                            debug code, and optimize algorithms. Whether you're a student seeking assistance with assignments or a 
                            developer facing coding hurdles, I provide effective solutions that enhance code efficiency and clarity. 
                            Count on my expertise to guide you through 
                            C programming challenges and to deliver reliable and efficient solutions
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}